// Variables
$font-montserrat: 'Montserrat', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-black-light: #111;
$color-black-dark: #211b19;
$color-brown: #998675;
$color-brown-dark: #362f2d;
$color-brown-light: #4e3427;
$color-beige: #a48d72;
$color-beige-light: #c7b299;
$color-gray: #d1d1d1;
$color-gray-light: #fbfaf8;
$color-gray-dark: #8c8c8c;
$color-blue: #0793b9;