//- Mobile Menu
.mobile
    ul.mobile__list
        li.mobile__item
            a(href="#hero").mobile__link.js-active Home
        li.mobile__item
            a(href="#services").mobile__link About Us
        li.mobile__item
            a(href="#portfolio").mobile__link Portfolio
        li.mobile__item
            a(href="#features").mobile__link Features
        li.mobile__item
            a(href="#recent").mobile__link Blog
        li.mobile__item
            a(href="#presentation").mobile__link Pricing
        li.mobile__item
            a(href="#clients").mobile__link Shortcodes
        li.mobile__item
            a(href="#sitemap").mobile__link Contact