//- Sprite

svg(width="0" height="0" class="hidden")
  symbol(viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" id="iconfinder_double-arrow-up_383150")
    g
      path(d="M.046 24.418l2.084 2.084 10.837-10.836 10.836 10.836 2.084-2.084-12.92-12.92z")
      path(d="M.046 13.418l2.084 2.084L12.967 4.666l10.836 10.836 2.084-2.084L12.967.498z")

a(href="#hero").breadcrumbs__link
    svg(class="icon").breadcrumbs__icon
        use(xlink:href="#iconfinder_double-arrow-up_383150")  