//- Clients

section.clients#clients
    .grid
        .clients__wrapper
            .clients__item
                a(href="#")
                    img(src="img/client1-min.png" alt="First Client").clients_img
            .clients__item
                a(href="#")
                    img(src="img/clients2-min.png" alt="Second Client").clients_img
            .clients__item
                a(href="#")
                    img(src="img/clients3-min.png" alt="Third Client").clients_img
            .clients__item
                a(href="#")
                    img(src="img/clients4-min.png" alt="Fourth Client").clients_img

