//- Features

section.features#features
        .features__wrapper
            .features__img-box
                img(src="img/phone-min.png" alt="Phone")
            .features__text
                h3.headline__title.headline__title--features Exellent for Mobile Devices
                p.headline__subtitle.headline__subtitle--features Features provides a centralized place to manage, configure and export components and write them to code.
                .features__list
                    li.features__item
                        i.fas.fa-chevron-circle-right.features__icon
                        p.features__description Create or change a feature on your local development site.   
                    li.features__item
                        i.fas.fa-chevron-circle-right.features__icon
                        p.features__description Update your local feature codebase using drush features-update.  
                    li.features__item
                        i.fas.fa-chevron-circle-right.features__icon
                        p.features__description Perform a git status to see which files need to be added to the local repository.  
                    li.features__item
                        i.fas.fa-chevron-circle-right.features__icon
                        p.features__description Perform a git commit to commit the files locally, then push the code to the remote site  