//- Footer

footer.footer#sitemap
    .footer__wrapper
        section.sitemap
            .grid
                .sitemap__wrapper

                    .sitemap__column.sitemap__column--no-padding
                        .logo
                            a(href="#").logo__link
                                img(src="img/logo-min.png" alt="Logo").logo__img
                                span.logo__text Waxom
                        a(href="#").sitemap__item
                            p.sitemap__text.sitemap__text--border.sitemap__text--lineh One day, researcher Sheena Iyengar set up a display table at an upscale food market with a variety of jams. Anyone who tried a sample received a coupon for $1 off any jam.
                            a(href="#").sitemap__link Read More

                    .sitemap__column
                        h3
                            a(href="#").sitemap__title Recent Posts

                        a(href="#").sitemap__item
                            p.sitemap__text
                                time(datetime="2018-03-09").sitemap__date September 03, 2018
                                | Every few hours, they would switch between a selection of 24 jams, or a pared-down selection of 6 jams
                        a(href="#").sitemap__item
                            p.sitemap__text
                                time(datetime="2018-11-08").sitemap__date November 08, 2018
                                | 60% of shoppers who walked by the large display sampled at least one jam, while only 40% tried a jam at the smaller display.
                        a(href="#").sitemap__item
                            p.sitemap__text.sitemap__text--border
                                time(datetime="2018-03-15").sitemap__date March 15, 2018
                                | And now for the kicker, although the larger display attracted more people than the small one.

                    .sitemap__column
                        h3
                            a(href="#").sitemap__title Our Twitter
                        a(href="#").sitemap__item
                            p.sitemap__text
                                span.sitemap__decor @waxom 
                                | Effortless integration with Google Analytics lets you monitor your website's
                                time(datetime="2018-10-09").sitemap__date 2 days ago
                        a(href="#").sitemap__item
                            p.sitemap__text
                                | Performance and optimize
                                span.sitemap__decor  #envato  
                                | your conversions with techniques like A/B testing.
                                time(datetime="2018-10-09").sitemap__date 5 days ago
                        a(href="#").sitemap__item
                            p.sitemap__text.sitemap__text--border
                                | Add options like sizes and colors for your products.
                                time(datetime="2018-10-09").sitemap__date 10 days ago 

                    .sitemap__column.sitemap__column--noborder
                        h3
                            a(href="#").sitemap__title Dribble Widget
              
                        .sitemap__gallery
                            a(href="#").sitemap__img
                                img(src="img/dribble1-min.jpg" alt="First Dribble")  
                            a(href="#").sitemap__img
                                img(src="img/dribble2-min.jpg" alt="Second Dribble")  
                            a(href="#").sitemap__img
                                img(src="img/dribble3-min.jpg" alt="Third Dribble")  
                            a(href="#").sitemap__img
                                img(src="img/dribble4-min.jpg" alt="Fourth Dribble")  

        section.copyright
            .grid
                .copyright__wrapper
                    .copyright__left
                        span.copyright__text Copyright &copy; 2018 
                            a(href="#").copyright__link Waxom
                        span.copyright__text Privacy Policy
                        span.copyright__text
                            a(href="#").copyright__link FAQ
                        span.copyright__text.copyright__text--border
                            a(href="#").copyright__link Suppot
                    .copyright__right
                        span.copyright__text Designed by 
                            a(href="#").copyright__link ThemeFire
                        span.copyright__text.copyright__text--border Only on 
                            a(href="#").copyright__link EnvatoMarket

