//- Hero
section.hero#hero
  .slider
    .slider__item
      .hero__text
        .hero__subtitle Unique and Modern Design
        h1.hero__title Portfolio PSD Template
        .hero__description Hi there! Do you need helo creating your website? Happy to help, let's find a design that matches your business!
        button.btn.btn--hero get started
    .slider__item
      .hero__text.hero__text--second
        .hero__subtitle Unique and Modern Design
        h1.hero__title Portfolio PSD Template
        .hero__description Hi there! Do you need helo creating your website? Happy to help, let's find a design that matches your business!
        button.btn.btn--hero get started
    .slider__item
      .hero__text.hero__text--third
        .hero__subtitle Unique and Modern Design
        h1.hero__title Portfolio PSD Template
        .hero__description Hi there! Do you need helo creating your website? Happy to help, let's find a design that matches your business!
        button.btn.btn--hero get started
        