//- Portfolio

section.portfolio#portfolio
    .grid
        .portfolio__wrapper
            .headline
                h2.headline__title.wow.slideInDown Our Latest Projects
                span.headline__subtitle.wow.slideInUp Features provides a centralized place to manage, configure and export components and write them to code.
            .portfolio__gallery
                .portfolio__controls
                    button(type="button" data-filter="all").filter.btn.portfolio__btn.portfolio__btn--active All
                    button(type="button" data-filter=".web").filter.btn.portfolio__btn.portfolio__btn Web Design
                    button(type="button" data-filter=".mob").filter.btn.portfolio__btn.portfolio__btn Mobile App
                    button(type="button" data-filter=".illustration").filter.btn.portfolio__btn.portfolio__btn Illustration
                    button(type="button" data-filter=".photo").filter.btn.portfolio__btn.portfolio__btn Photo     
                .portfolio__list
                    .mix.mob.web.portfolio__item
                        .portfolio__inner
                            .portfolio__img-box
                                img(src="img/sorter-img1-min.jpg" alt="First work").portfolio__img
                                .portfolio__icon-box
                                    a(href="#").portfolio__icon.portfolio__icon-link
                                        i.fas.fa-link
                                    a(href="#").portfolio__icon.portfolio__icon-search
                                        i.fas.fa-search
                            .portfolio__text
                                .portfolio__title Mobile Application
                                .portfolio__subtitle Graphic Design, Mock-Up    
                    .mix.web.photo.portfolio__item
                        .portfolio__inner
                            .portfolio__img-box
                                img(src="img/sorter-img2-min.jpg" alt="Second work").portfolio__img
                                .portfolio__icon-box
                                    a(href="#").portfolio__icon.portfolio__icon-link
                                        i.fas.fa-link
                                    a(href="#").portfolio__icon.portfolio__icon-search
                                        i.fas.fa-search
                            .portfolio__text
                                .portfolio__title Violaine & Jeremy
                                .portfolio__subtitle Photography, Nature   
                    .mix.illustration.photo.portfolio__item
                        .portfolio__inner
                            .portfolio__img-box
                                img(src="img/sorter-img3-min.jpg" alt="Third work").portfolio__img
                                .portfolio__icon-box
                                    a(href="#").portfolio__icon.portfolio__icon-link
                                        i.fas.fa-link
                                    a(href="#").portfolio__icon.portfolio__icon-search
                                        i.fas.fa-search
                            .portfolio__text
                                .portfolio__title Olympic Industries Publication
                                .portfolio__subtitle Graphic Design, Mock-Up  
                    .mix.illustration.mob.portfolio__item
                        .portfolio__inner
                            .portfolio__img-box
                                img(src="img/sorter-img4-min.jpg" alt="Fourth work").portfolio__img
                                .portfolio__icon-box
                                    a(href="#").portfolio__icon.portfolio__icon-link
                                        i.fas.fa-link
                                    a(href="#").portfolio__icon.portfolio__icon-search
                                        i.fas.fa-search
                            .portfolio__text
                                .portfolio__title Maitri Station
                                .portfolio__subtitle Photography, Nature  
                    .mix.web.photo.mob.portfolio__item
                        .portfolio__inner
                            .portfolio__img-box
                                img(src="img/sorter-img5-min.jpg" alt="Fifth work").portfolio__img
                                .portfolio__icon-box
                                    a(href="#").portfolio__icon.portfolio__icon-link
                                        i.fas.fa-link
                                    a(href="#").portfolio__icon.portfolio__icon-search
                                        i.fas.fa-search
                            .portfolio__text
                                .portfolio__title Lovely Sunday Album Design
                                .portfolio__subtitle Graphic Design, Mock-Up                    
                    .mix.illustration.portfolio__item
                        .portfolio__inner
                            .portfolio__img-box
                                img(src="img/sorter-img6-min.jpg" alt="Sixth work").portfolio__img
                                .portfolio__icon-box
                                    a(href="#").portfolio__icon.portfolio__icon-link
                                        i.fas.fa-link
                                    a(href="#").portfolio__icon.portfolio__icon-search
                                        i.fas.fa-search
                            .portfolio__text
                                .portfolio__title South Shetland Islands
                                .portfolio__subtitle Photography, Nature  
                button.btn.portfolio__btn--border load more                             