//- Presentation

section.presentation#presentation
        .presentation__wrapper
            .logo.presentation__logo
                a(href="#").logo__link
                    img(src="img/logo-min.png" alt="Logo").logo__img.presentation__img
            .presentation__video
                video(width="100%" height="100%" muted autoplay loop)
                    source(src="img/Working.mp4" type="video/mp4")
                    | Your browser does not support the video tag.
            .presentation__headline
                h3.presentation__title Waxom Video Presentation
                span.presentation__subtitle  On the remote site you should now see your feature as a module. To enable the feature, enable the module.