//- Product

section.product
    .grid
        .product__wrapper
          .headline
            h2.headline__title.wow.slideInDown Waxom is Realization of your Ideas
            span.headline__subtitle.wow.slideInUp Drupal Core or module updates; this is essentially saying that if you re-export your feature, some database settings.
          </div>
          .product__example
            .product__image.product__image--left
                img(src="img/template2-min.jpg" alt="Template")
            .product__image.product__image
                img(src="img/template1-min.jpg" alt="Template")
            .product__image.product__image--right
                img(src="img/template3-min.jpg" alt="Template")