//- Purchase

section.purchase
    .grid
        .purchase__wrapper
            .purchase__text
                h3.purchase__title
                    span.purchase__name Waxom 
                    | Multipurpoose Wordpress Theme
                .purchase__subtitle Don't Forget to Rate the Template. Thank's so much!
            button.btn Purchase now