//- Recents

section.recents#recent
    .grid
        .recents__wrapper
            .headline
                h2.headline__title.wow.slideInDown Recent Posts
                span.headline__subtitle.wow.slideInUp This convenience makes Features an excellent tool for managing changes between development environments.

            .recents__gallery
                .recents__item
                    .recents__img-box
                        img(src="img/post1-min.jpg" alt="First post").recents__img
                        .recents__calendar
                            span.recents__number 30
                            span.recents__month Sep
                    .recents__text
                        h3.recents__title The Wisdom of Solomon
                        span.recents__description As the years pass by and I gradually add to the number of countries visited, it seems a more spontaneous travel approach!
                        a(href="#").recents__link Read more
                .recents__item
                    .recents__img-box
                        img(src="img/post2-min.jpg" alt="First post").recents__img
                        .recents__calendar
                            span.recents__number 30
                            span.recents__month Sep
                    .recents__text
                        h3.recents__title Iconic Statue that's only a Replica?
                        span.recents__description By that time we were well above the clouds so I couldn't see anything.!
                        a(href="#").recents__link Read more
                .recents__item
                    .recents__img-box
                        img(src="img/post3-min.jpg" alt="First post").recents__img
                        .recents__calendar
                            span.recents__number 30
                            span.recents__month Sep
                    .recents__text
                        h3.recents__title Kumily - Periyar National Park
                        span.recents__description 27th Jan Woke early to the alarm and a message on my ipad from Callum saying he was in Cochin!
                        a(href="#").recents__link Read more