//- Result

section.result
    .grid
        .result__wrapper
            .result__item.wow.flipInX
                img(src="img/sat-clients-min.png" alt="Clients").result__icon
                span.result__number 3587
                span.result__description satisfied clients
            .result__item.wow.flipInX
                img(src="img/cups-min.png" alt="Cups of coffee").result__icon
                span.result__number 207
                span.result__description cups of coffee
            .result__item.wow.flipInX
                img(src="img/thinks-min.png" alt="Posts").result__icon
                span.result__number 2500
                span.result__description blog posts
            .result__item.wow.flipInX
                img(src="img/heart-min.png" alt="Clients").result__icon
                span.result__number 873
                span.result__description likes