//- Services

section.services#services
    .grid
        .services__wrapper
          .services__item.wow.flipInX
            i.far.fa-edit.services__icon
            h3.services__title Web & App Design
            .services__text An ecommerce site builder is a program that lets you build, customize.
          .services__item.wow.flipInX
            i.fa.fa-layer-group.services__icon
            h3.services__title Development
            .services__text These are the signs that you’ll be using the best ecommerce platform available in 2015.
          .services__item.wow.flipInX
            i.far.fas.fa-cog.services__icon
            h3.services__title Customization
            .services__text Next, decide on the level of customization you'd like, to ensure you’ll have.
          .services__item.wow.flipInX
            i.far.fas.fa-briefcase.services__icon
            h3.services__title Marketing
            .services__text Check for must-have features such as payment security and sales reports.
          