// Sitemap

.sitemap {
    border-bottom: 1px solid $color-brown;
    border-top: 1px solid $color-brown;
    background: lighten($color-black, 8%);

    // Wrapper
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5rem 0 2rem;
    }

    // Column
    &__column {
        padding-top: 1rem;
        width: 20%;

        &--no-padding {
        padding: 0;
        }

        @include mq(tablet, max) {
            margin-bottom: 3rem;
            padding: 0 2rem;
            width: 50%;
        }

        @include mq(phone-wide, max) {
            width: 100%;
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-brown;
        }

        // No Border
        &--noborder {
            border-bottom: none;
        }
    }

    // Item
    &__item {
        &:hover {
            .sitemap__text {
                color: $color-beige-light;
            }
            .sitemap__date {
                color: $color-white;
            }
        }
    }

    // Title
    &__title {
      margin: 0 0 15px;
      font-family: $font-raleway;
      font-size: 1.5rem;
      color: $color-white;

      &:hover {
        text-decoration: underline;
      }
    }

    // Link & Hover
    &__link,
    &__text {
        font-family: $font-montserrat;
        font-size: .9rem;
    }

    // Text
    &__text {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid lighten($color-black, 30%);
        color: lighten($color-black, 30%);

        // Lineh
        &--lineh {
            line-height: 1.3rem;
        }

        // Border
        &--border {
            border: none;
        }
    }

    // Link
    &__link {
        color: $color-brown;

        &:hover {
            text-decoration: underline;
            color: $color-white;
        }

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            width: 0;
	        height: 0;
	        border-top: 4px solid transparent;
	        border-left: 8px solid $color-brown-light;
	        border-bottom: 4px solid transparent;
        }
    }

    // Date
    &__date {
        display: block;
        color: $color-brown;
        font-size: .7rem;
    }

    // Decor
    &__decor {
        color: $color-blue;
    }

    // Image
    &__img {
      display: inline-block;
      font-size: 0;
      width: 50%;
      padding: 5px;
      border: 1px solid transparent;

      &:hover {
            border: 1px solid rgba($color-white, .3);
        }
    }

}























.sitemap__item:hover .sitemap__text {
  color: #c7b299;
}

.sitemap__item:hover .sitemap__date {
  color: #fff;
}