.slider {
  position: relative;

  //  Item
  &__item {
    height: 100vh;
  }
}

// Slick Slider Styles
.slick {

    // Slider
    &-slider {
       margin: 0; 
       z-index: 5;
    }

    // Dots
    &-dots {
        position: absolute;
        left: 50%;
        display: flex;
        bottom: 5%;
        padding: 0;
        z-index: 10;
        list-style: none;
        transform: translate(-50%, -50%);

        @include mq(tablet-small, max) {
            bottom: 0%;   
        }

        li {
            margin: 5px; 

            @include mq(tablet, max) {
                margin: 0; 
            }

            button {
                background: transparent;
                font-size: 0;
                border: none;

                &::before {
                    display: block;
                    content: '';
                    width: .7rem;  
                    height: .7rem;
                    background: $color-white;
                    border-radius: 50%;
                    opacity: .5;

                    @include mq(tablet, max) {
                        width: 0.5rem;
                        height: 0.5rem;  
                    }
                    }
                }

        &.slick-active {
            button::before {
            background: $color-brown;
            }
        }
        }
    }
}
